.rounded-card{
    border-radius: 10px
}
h6{
    display: inline-block;
}
.comment-owner-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background-position: center center;
    background-size: cover;
}
a{
    text-decoration: none;
    color: black;
}