body{margin-top:20px;}



.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink:0;
    flex-direction: column;
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}
 .message-data-time {
    color: #434651;
    padding-left: 6px
}
@media only screen and (max-width: 991px) {
.users{
    display: flex;
    flex-direction: row;
}
.nameuser{
   display: none !important;
}
    
}
.content{
background: #fff;
    transition: .5s;
    border: 0;
    
    margin:50px auto 30px;
    border-radius: .55rem;
    position: relative;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.message-data-time {
    color: #434651;
    padding-left: 6px
}