<head>
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  
  </head>

<div class="container">
    <div class="row">
        <div class="col-md-3 fixed-left">
            <app-left-sidebar></app-left-sidebar>
        </div>
        <div class="col-md-6">
            
            <div class="col-md-12">
                        
                <app-create-post></app-create-post>
                <!-- <div *ngFor='let post of posts ;let i = index'>
                <app-show-post [postOwner]="postOwner" [postContent]="postContents[i]"></app-show-post>

                </div> -->
            </div>
        </div>
        <div class="col-md-3 fixed-right">
            <app-rightside></app-rightside>
        </div>
    </div>
</div>