.neon {
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
      text-decoration: none;
      margin-left: 50px;
      font-size: 30px;
      margin-right: 50px;
  }
  .bk-nav {
    background-color: #b22914;
  }