<!-- <div class="card bg-light mb-3">
    <div class="card-header">{{postOwner}}</div>
    <div class="card-body">
      <h5 class="card-title">Light card title</h5>
      <p class="card-text">{{postContent}}</p>
    </div>
  </div> -->
<div class="post-container">
    <div class="post-row">
        <div class="user-profile">
            <img src="{{storageURL}}/profiles/{{profilePic}}">
            <div>
                <p><a routerLink="/users/{{postOwnerId}}"
                        style="text-decoration: none;color: gray;font-size: large;">{{postOwner}}</a></p>
                <span>{{ created_at| date:'medium'}}</span>
            </div>
        </div>
        <!-- three dots icon to delete a post -->
        <div class="dropdown" *ngIf="showDeleteButton">

            <i class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false" class="fas fa-ellipsis-v"></i>
            <ul class="dropdown-menu p-1" aria-labelledby="dropdownMenuButton1">
                <li style="cursor: pointer;" (click)="deletePost()"><i class="fa-solid fa-trash-can pe-2"></i> delete post</li>
                <li style="cursor: pointer;" (click)="savePost()"><i class="fa-solid fa-bookmark pe-2" style="color:rgb(82, 3, 3)"></i>save post</li>
                <li style="cursor: pointer;" (click)="unsave()"><i class="fa-solid fa-bookmark pe-2" style="color:black"></i>unsave post</li>
            </ul>
        
            <!-- <i class="fa-solid fa-bookmark pe-2" (click)="savePost()" [ngClass]=" save_post ? 'text-danger' : 'text-primary'" style="color:black"></i> -->
        </div>



    </div>
    <p class="post-text">{{postContent}}</p>
    <img *ngIf="hasPic" src="{{storageURL}}/posts/{{postPic}}" class="post-img">
    <hr>
    <div class="post-row">
        <div class="activity-icons">
            <div><i class="fas fa-thumbs-up" (click)="likebtn()" [ngClass]="like ? 'text-primary' : 'text-normal'"></i>
                <span class="ms-2">{{post_likes_number}}</span>
            </div>
            <div><i class="fas fa-comment-alt"></i><span class="ms-2">{{comments_number}}</span></div>
            <div><i class="fas fa-share"></i><span class="ms-2"></span></div>
        </div>

        <!-- <div class="post-porfile-icon">
            <img src="https://i.postimg.cc/cHg22LhR/profile-pic.png"><i class="fas fa-caret-down"></i>
        </div> -->
    </div>
    <hr>

    <!-- display comments here -->

</div>