
<div class=" mt-5">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-8 col-md-10 text-center">
        <div class="mb-3">
          <h2 class="text-white">Meet Our Superheros</h2>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-lg-4 col-md-6">
        <div class="team">
          <div class="team-avatar">
            <img class="w-25 rounded-circle  mb-4" src="../../../../assets/images/IMG_2430.jpg" alt="">
          </div>
          <div class="team-content">
            <div class=" team-content-inner">
              <div class="d-flex">
                <div class="team-info">
                  <h5 class="mb-0"><a class="avatar-name">Shereen</a></h5>
                </div>
                <div class="team-social ml-auto">
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-dribbble"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-6">
        <div class="team">
          <div class="team-avatar">
            <img class="w-25 mb-4 alaa rounded-circle" src="../../../../assets/images/WhatsApp Image 2022-01-22 at 6.51.06 PM.jpeg" alt="">
          </div>
          <div class="team-content">
            <div class=" team-content-inner">
              <div class="d-flex">
                <div class="team-info">
                  <h5 class="mb-0 "><a class="avatar-name ">Alaa</a></h5>
                </div>
                <div class="team-social ml-auto">
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                          <i class="fab fa-dribbble"></i>
                        </a>
                      </li>
              
                  </ul>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team">
          <div class="team-avatar">
            <img class="w-25 rounded-circle" src="../../../../assets/images/IMG_2428.jpg" alt="">
          </div>
          <div class="team-content">
            <div class=" team-content-inner">
              <div class="d-flex">
                <div class="team-info">
                  <h5 class="mb-0"><a class="avatar-name">Mariana</a></h5>
                </div>
                <div class="team-social ml-auto">
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-dribbble"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team">
          <div class="team-avatar">
            <img class="w-25 rounded-circle" src="../../../../assets/images/IMG_2427.jpg" alt="">
          </div>
          <div class="team-content">
            <div class=" team-content-inner">
              <div class="d-flex">
                <div class="team-info">
                  <h5 class="mb-0"><a class="avatar-name">Ahmed</a></h5>
                </div>
                <div class="team-social ml-auto">
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-dribbble"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team">
          <div class="team-avatar">
            <img class="img-fluid w-25 rounded-circle" src="../../../../assets/images/IMG_2429.jpg" alt="">
          </div>
          <div class="team-content">
            <div class=" team-content-inner">
              <div class="d-flex">
                <div class="team-info">
                  <h5 class="mb-0"><a class="avatar-name">Amira</a></h5>
                </div>
                <div class="team-social ml-auto">
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link" >
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-dribbble"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>