<head>
    
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<div class=" footer w-100">
    <div class="row justify-content-center bg-white">
      <div class="col-xl-8 col-lg-8 col-md-10 text-center">
        <div >
          <h2 class="text-danger">Meet Our Superheros</h2>
        </div>
      </div>
    </div>
    <div class="row bg-white">
      <div class="col-lg-4 col-md-6 ">
        <div class="team">
          <div class="team-avatar">
            <img class="w-25 rounded-circle  mb-4" src="../../../../assets/images/IMG_2430.jpg" alt="">
          </div>
          <div class="team-content">
            <div class=" team-content-inner">
              <div class="d-flex">
                <div class="team-info">
                  <h5 class="mb-0"><a class="avatar-name">Shereen</a></h5>
                </div>
                <div class="team-social ml-auto">
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
           
                  </ul>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-6">
        <div class="team">
          <div class="team-avatar">
            <img class="w-25 mb-4 alaa rounded-circle" src="../../../../assets/images/WhatsApp Image 2022-01-22 at 6.51.06 PM.jpeg" alt="">
          </div>
          <div class="team-content">
            <div class=" team-content-inner">
              <div class="d-flex">
                <div class="team-info">
                  <h5 class="mb-0 "><a class="avatar-name ">Alaa</a></h5>
                </div>
                <div class="team-social ml-auto">
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
             
              
                  </ul>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team">
          <div class="team-avatar">
            <img class="w-25 rounded-circle" src="../../../../assets/images/IMG_2428.jpg" alt="">
          </div>
          <div class="team-content">
            <div class=" team-content-inner">
              <div class="d-flex">
                <div class="team-info">
                  <h5 class="mb-0"><a class="avatar-name">Mariana</a></h5>
                </div>
                <div class="team-social ml-auto">
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
           
                  </ul>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team">
          <div class="team-avatar">
            <img class="w-25 rounded-circle" src="../../../../assets/images/IMG_2427.jpg" alt="">
          </div>
          <br>
          <div class="team-content">
            <div class=" team-content-inner">
              <div class="d-flex">
                <div class="team-info">
                  <h5 class="mb-0"><a class="avatar-name">Ahmed</a></h5>
                </div>
                <div class="team-social ml-auto">
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
           
                  </ul>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team">
          <div class="team-avatar">
            <img class="img-fluid w-25 rounded-circle" src="../../../../assets/images/IMG_2429.jpg" alt="">
          </div>
          <br>
          <div class="team-content">
            <div class=" team-content-inner">
              <div class="d-flex">
                <div class="team-info">
                  <h5 class="mb-0"><a class="avatar-name">Amira</a></h5>
                </div>
                <div class="team-social ml-auto">
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link" >
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
           
                  </ul>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <footer class="text-white text-center text-lg-start color-class">
    <div class="container color-class">
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-6 text-center">
          <h5 class="text-uppercase">Useful Links</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://github.com/AhmedMohammedYousry/angular-social-media-app" class="text-white"><i class="fa-brands fa-github"></i> Angular Repo</a>
            </li>
            <li>
              <a href="https://github.com/shereen-gamal/final_project_iti" class="text-white"><i class="fa-brands fa-github"></i> Laravel Repo</a>
            </li>
            <li>
              <a href="#!" class="text-white">Angular Decomentation</a>
            </li>
            <li>
              <a href="#!" class="text-white">Laravel Decomentation</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0 text-center">
          <h5 class="text-uppercase mb-0">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>