#m-td span.m-active:before {
    content: "5";
    position: absolute;
    top: -8px;
    right: 0px;
    color: #fff;
    font-size: 12px;
    padding: 4px 4px 3px 4px;
    background-color: #ff1e0e;
    border-radius: 3px;
    line-height: 1;
  }
  .icon{
      margin-left: 15px;
      color: white;
      width: 50px;
  }

  /* :root {
    --body-color: #efefef;
    --nav-color: #1876f2;
    --bg-color: #fff;
  } */
  .dark-theme {
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
  }
  body {
    background: var(--body-color);
    transition: background 0.3s;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #b22914;
  }
  .logo {
    width: 160px;
    margin-right: 45px;
  }
  .nav-left,
  .nav-right {
    display: flex;
    align-items: center;
  }
  .nav-left ul li {
    list-style: none;
    display: inline-block;
  }
  .nav-left ul li img {
    width: 28px;
    margin: 0 15px;
  }
  .nav-user-icon img {
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
  }
  .nav-user-icon {
    margin-left: 30px;
  }
  .search-box {
    background: #efefef;
    width: 750px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }

  .search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
  }
  .online {
    position: relative;
  }
  .online::after {
    content: "";
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
  }