<div class="container-xl px-4 mt-4 ">
  
    <div class="row ">
       
        <div class="col-xl-8 mx-auto mt-4">
           
            <div class="card mb-4">
                <div class="card-header text-danger">Create Page</div>
                <div class="card-body">
                    <form>
                      
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Page information</label>
                            <input class="form-control" id="inputUsername" type="text" placeholder="page name (required)" >
                        </div>
                        <div class="mb-3">
                        
                            <input class="form-control" type="text" placeholder="Category (required)" >
                        </div>


                        <div class="mb-3">
                        
                            <textarea class="form-control"  rows="3" placeholder="Description"></textarea>
                        </div>

                        <div class="mb-3">
                        
                            <input class="form-control" type="media" placeholder="profile image" >
                        </div>
                        <div class="mb-3">
                        
                            <input class="form-control" type="text" placeholder="cover image" >
                        </div>
                      
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
