.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;

}
.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    margin-top: 30px;
    margin-bottom:30px;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.1), -3px 0 3px rgba(0,0,0,0.05);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1), -3px 0 3px rgba(0,0,0,0.05);
  

}

.imp-links:first-child{
  padding-top: 1px;
}


.imp-links a, .shortcut-link a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    color: #000000;
    width: fit-content;
    /* margin-left: 40px; */
    margin: 30px auto;

 
    

}
.imp-links a i{
    width: 25px;
    margin-right: 15px;
    color:#c72121;
    text-align: center;



}


.shortcut-link a i{
    width: 40px;
    border-radius: 4px;
    margin-right: 10px;
}
.shortcut-link i{
    margin: 25px 0;
    color: #626262;
    font-weight: 500;


}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;

}
.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;

}

.event{
    display: flex;
    font-size: 16px;
    margin-bottom: 20px;

}
.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align:center;
    position: relative;
    overflow:hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.event p{
    font-size: 12px;

}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: #6d0606;

}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #6d0606;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;

}
@media (max-width: 900px){
    .left-sidebar{
    }
}



 
