body{
  background-color: white;
  /* width: 315px; */
}

ul {
 
  font-size: 15px;
  line-height: normal;
  font-weight: 450;
  margin-top: 50px;
  position: fixed;
  width: 200px;
 }
 li{
   width: 100%;
     padding-left: 30px;


 }
 ul li i{
  font-size: 22px;
   color: #6d0606;
   margin-right: 18px;
   margin-top: 12px;
   margin-bottom: 12px;


 }
 i:hover{
   transform: rotate(-20deg);
   transform: scale(1.2);
 }
 ul li span {
   color: hsl(210, 11%, 15%);
   margin-left: 10px;

 }
 li:hover{
   background-color: #b6b7b946;
   width: 300px;
 }




  
