body{
  background-color: hsl(210, 11%, 15%);
  margin-top: 26px;
  width: 230px;
}

ul {
 
  font-size: 20px;
  margin-top: 50px;
  margin-left: 30px;
  position: fixed;
  width: 200px;
 }
 ul li i{
   color: white;
   margin-right: 10px;
   margin-top: 30px;

 }
 ul li span {
   color: white;

 }
 li:hover{
   background-color: #b6b7b9;
 }
 @media (max-width:425px) {
   ul{
    font-size: 10px;
    margin-top: 25px;
    margin-left: 15px;
    position: fixed;
    width: 100px;
   }
   
 }


  
