<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>left-sidebar</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

</body>

</html>
<div class="left-sidebar">
    <div class="imp-links " >
        <a href="#" ><i class="fa-solid fa-flag "></i>Pages</a>
        <a href="#" ><i class="fa-solid fa-user-group"></i>Friends</a>
        <a href="#"><i class="fa-solid fa-users"></i>savepost</a>
      
    </div>
  
    <hr>
  

    <div class="shortcut-link">
         <p class="text-muted ms-4 mt-4">Your Information</p>
        <div href="#" class="ms-4 text-muted" (click)=" goToPage(page.id)" *ngFor="let page of listpages;index as i"><img  class="rounded-circle "src="https://i.postimg.cc/3JHVf7vG/shortcut-1.png"><div class="ms-1">  
    <br>
       {{page.page_name}}<br>
          <br></div></div>
      
          <div  href="#" class="ms-3 text-muted"  (click)=" goToFriend(friend.id)" *ngFor="let friend of listfriends;index as i"><img class="rounded-circle"src="https://i.postimg.cc/rFCbvb1P/shortcut-2.png"><div class="ms-3">
            <br> {{friend.name}}<br>
        
      <br></div></div>
        <a href="#" class="ms-3 text-muted"  (click)=" goToSavepost(savepost.id)" *ngFor="let savepost of listsaveposts;index as i"><img class="rounded-circle"src="https://i.postimg.cc/0yk3xfZ2/shortcut-3.png"><div class="ms-3">
           {{savepost.post_id}}
        </div></a>
       
    </div>
</div>
