<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>left-sidebar</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
  <div class="left-sidebar">
      <div class="imp-links">
          <a href="#"><i class="fa-solid fa-flag "></i>Pages</a>
          <a href="#"><i class="fa-solid fa-user-group"></i>Friends</a>
          <a href="#"><i class="fa-solid fa-users"></i>Groups</a>
      </div>
      <hr>
      <div class="shortcut-link">
          <p class="text-muted ms-4 mt-4">Your Shortcuts</p>
          <a href="#" class="ms-4 text-muted"><img  class="rounded-circle "src="https://i.postimg.cc/3JHVf7vG/shortcut-1.png"><span class="ms-1">Develope</span></a>
          <a href="#" class="ms-3 text-muted"><img class="rounded-circle"src="https://i.postimg.cc/rFCbvb1P/shortcut-2.png"><span class="ms-3"> Web Design course</span></a>
          <a href="#" class="ms-3 text-muted"><img class="rounded-circle"src="https://i.postimg.cc/0yk3xfZ2/shortcut-3.png"><span class="ms-3">Full Strack</span></a>
          <a href="#"class="ms-3 text-muted"><img class="rounded-circle" src="https://i.postimg.cc/Z5wQqdDP/shortcut-3.png"><span class="ms-4">Website Experts</span></a>
      </div>
  </div>
</body>


