<head>
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  
  </head>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
            <app-left-sidebar></app-left-sidebar>
          </div>
          <div class="col-md-8 main-section">
            
            <div *ngFor="let user of users; let i as index">
                <app-show-user class="m-2"
                [user_name]="user.name" [user_id]="user.id" [friends_number]="user.friends.length+user.friend.length"
                
                ></app-show-user>
            </div>
              
          </div>
      </div>
  </div>
