*{
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif;
  box-sizing: border-box;
}


.container{
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;

}
i{
  font-size: 18px;
  margin-right: 10px;
}

.write-post-container{
  width: 100%;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 20px;
  color: #626262;

}
.user-profile{
  display: flex;
  align-items: center;

}
.user-profile img{
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-profile p{
  margin-bottom: -5px;
  font-weight: 500;
  color: #626262;

}
.user-profile small{
  font-size: 12px;
  
}
.post-input-container{
  padding-left: 55px;
  padding-top: 20px;

}
.post-input-container textarea{
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  resize: none;

}
.add-post-links{
  display: flex;
  margin-top: 10px;

}
.add-post-links a{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #626262;
  margin-right: 30px;
  font-size: 13px;

}
.add-post-links a img{
  width: 20px;
  margin-right: 10px;

}
.post-container{
  width: 100%;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  margin: 20px 0;

}
.user-profile span{
  font-size: 13px;
  color: #9a9a9a;

}
.post-text{
  color: #9a9a9a;
  margin: 15px 0;
  font-size: 15px;

}
.post-text span{
  color: #626262;
  font-weight: 500;
}
.post-text a{
  color: #1876f2;
  text-decoration: none;

}
.post-img{
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;

}
.post-row{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.activity-icons div img{
  width: 18px;
  margin-right: 10px;

}
.activity-icons div{
  display: inline-flex;
  align-items: center;
  margin-right: 30px;

}
.post-porfile-icon{
  display: flex;
  align-items: center;


}
.post-porfile-icon img{
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;

}
.post-row a{
  color: #9a9a9a;

}
.load-more-btn{
  display: block;
  margin: auto;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #9a9a9a;
  color: #626262;
  background: transparent;
  border-radius: 4px;

}
.footer{
  text-align: center;
  color: #9a9a9a;
  padding: 10px 0 20px;
  font-size: 13px;

}
.settings-menu{
  position: absolute;
  width: 90%;
  max-width: 350px;
  background: var(--bg-color);
  box-shadow: 0 0 10px rgba(0,0,0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 108%;
  right: 5%;
  max-height: 0;
  transition: max-height 0.3s;

}
.settings-menu-height{
  max-height: 450px;

}
.user-profile a{
  font-size: 12px;
  color: #1876f2;
  text-decoration: none;

}
.settings-menu-inner{
  padding: 20px;
}
.settings-menu hr{
  border: 0;
  height: 1px;
  background: #9a9a9a;
  margin: 15px 0;

}
.settings-links{
  display: flex;
  align-items: center;
  margin: 15px 0;

}
.settings-links .settings-icon{
  width: 38px;
  margin-right: 10px;
  border-radius: 50%;

}
.settings-links a{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #626262;
}
#dark-btn{
  position: absolute;
  top: 30px;
  right: 30px;
  background: #ccc;
  width: 45px;
  border-radius: 15px;
  padding: 10px 6px;
  cursor:pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;

}
#dark.btn span{
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 60%;
  display: inline-flex;

}
#dark-btn.dark-btn-on{
  padding-left: 23px;
  background: #0a0a0a;

}

.pofile-container{
  padding: 20px 15%;
  color: #626262;

}
.cover-img{
  width: 100%;
  border-radius: 6px;
  margin-bottom: 14px;

}
.profile-details{
  background: var(--bg-color);
  padding: 20px;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}
.pd-row{
  display: flex;
  align-items: flex-start;

}
.pd-image{
  width: 100px;
  max-width: 150px;
  max-height: 150px;
  margin-right: 20px;
  border-radius: 6px;

}
.pd-row div h3{
  font-size: 25px;
  font-weight: 600;

}
.pd-row div p{
  font-size: 13px;

}
.pd-row div img{
  width: 25px;
  border-radius: 50%;
  margin-top: 12px;

}
.pd-right button{
  background: #6d0606;
  border: 0;
  outline: 0;
  padding: 6px 10px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;

}
.pd-right button img{
  height: 15px;
  margin-right: 10px;

}
.pd-right button:first-child{
  background: #e4e6eb;
  color: #000;

}
.pd-right{
  text-align: right;

}
.pd-right a{
  background: #e4e6eb;
  border-radius: 3px;
  padding: 12px;
  display: inline-flex;
  margin-top: 30px;

}
.pd-right a  img{
  width: 20px;

}
.profile-info{
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  margin-top: 20px;

}
.info-col{
  flex-basis: 33%;

}
.post-col{
  flex-basis: 65%;

}
.profile-intro{
  background: var(--bg-color);
  padding: 20px;
  margin-right: 20px;
  border-radius: 4px;

}
.profile-info h3{
  font-weight: 600;
}
.intro-text{
  text-align: center;
  margin: 10px 0;
  font-size: 15px;

}
.intro-text img{
  width: 15px;
  margin-bottom: -3px;

}
.profile-intro hr{
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 24px 0;

}
.profile-info ul li{
  list-style: none;
  font-size: 15px;
  margin: 15px 0;
  display: flex;
  align-items: center;

}
.profile-info ul li img{
  width: 26px;
  margin-right: 10px;

}
.title-box{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.title-box a{
  text-decoration: none;
  color: #1876f2;
  font-size: 14px;

}
.photo-box{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  margin-top: 15px;

}
.photo-box div img{
  width: 100%;
  cursor: pointer;

}
.profile-intro p{
  font-size: 14px;

}
.friends-box{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  margin-top: 15px;

}
.friends-box div img{
  width: 100%;
  cursor: pointer;
  padding-bottom: 20px;
  
}
.friends-box div{
  position: relative;
}
.friends-box p{
  position: absolute;
  bottom: 0;
  left: 0;

}

@media (max-width: 900px){
  .pofile-container{
      padding: 20px 5%;

  }
  .profile-details{
      flex-wrap: wrap;

  }
  .pd-right{
      text-align: left;
      margin-top: 15px;

  }
  .pd-right button{
      margin-left: 0;
      margin-right: 10px;

  }
  .pd-row div h3{
      font-size: 16px;

  }
  .profile-info{
      flex-wrap: wrap;

  }
  .info-col, .post-col{
      flex-basis: 100%;

  }

}