<html>
  <head>
    <title>Login To Facebook</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  </head>
  <body>
    <section class="login-register-content">
      <div class="card-content">
        <div class="card-header">
          <h2>Login Facebook</h2>
        </div>
        <div class="card-body">
          <div [formGroup]="formLogin" class="container form" >
            <!-- <label for="exampleInputEmail1">Email address</label> -->
            <input type="text" name="username" placeholder="Username" formControlName="Email" type="email" class="form-control" [class.is-invalid]="isInValidAndTouched('Email')" [class.is-valid]="isValidControl('Email')" aria-describedby="emailHelp">
            <i class="fa fa-user " ></i>
            <div *ngIf="isInValidAndTouched('Email')">
              <small class="form-text text-danger" *ngIf="isControlHasError('Email','required')">required email</small>
              <small class="form-text text-danger" *ngIf="isControlHasError('Email','minlength')">min length is 8</small>
              <small class="form-text text-danger" *ngIf="isControlHasError('Email','maxlength')">max length is 20</small>
            </div> 

        

            <div class="form-group">
            <!-- <label for="exampleInputPassword1">Password</label> -->
            <input type="password" name="password" placeholder="Password" formControlName="Password" type="password" class="form-control"  >
            <i class="fas fa-fingerprint icon " style="top:-55px; margin-left:-1px;"></i>
            <div *ngIf="isInValidAndTouched('Password')">
              <small class="form-text text-danger" *ngIf="isControlHasError('Password','required')">required password</small>
              <small class="form-text text-danger" *ngIf="isControlHasError('Password','minlength')">min length is 8</small>
              <small class="form-text text-danger" *ngIf="isControlHasError('Password','maxlength')">max length is 20</small>
            </div> 
          </div>
           
            <button type="button">Login</button>
            <a [routerLink]="['/register']" class="btn btn-light text-center text-secondary "  >
              Create New Account 
            </a>
                  
           
        </div>
      </div>
    </div>
    </section>

  </body>
</html>



<!-- 

<div [formGroup]="formLogin" class="container">

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input formControlName="Email" type="email" class="form-control" [class.is-invalid]="isInValidAndTouched('Email')" [class.is-valid]="isValidControl('Email')" aria-describedby="emailHelp" placeholder="Enter email">
      <div *ngIf="isInValidAndTouched('Email')">
        <small class="form-text text-danger" *ngIf="isControlHasError('Email','required')">required email</small>
        <small class="form-text text-danger" *ngIf="isControlHasError('Email','minlength')">min length is 8</small>
        <small class="form-text text-danger" *ngIf="isControlHasError('Email','maxlength')">max length is 20</small>
      </div> 
     
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input formControlName="Password" type="password" class="form-control"  placeholder="Password">
      <div *ngIf="isInValidAndTouched('Password')">
        <small class="form-text text-danger" *ngIf="isControlHasError('Password','required')">required password</small>
        <small class="form-text text-danger" *ngIf="isControlHasError('Password','minlength')">min length is 8</small>
        <small class="form-text text-danger" *ngIf="isControlHasError('Password','maxlength')">max length is 20</small>
      </div> 
       </div>
    
    <button [disabled]="formLogin.invalid" (click)="login()" type="button" class="btn btn-primary">Submit</button>
</div> -->
