@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.neon {
  color: #b22914;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(165, 51, 51),
    0 0 80px rgb(211, 106, 106),
    0 0 90px rgb(255, 0, 0),
    0 0 100px rgb(255, 251, 0),
    0 0 150px rgb(196, 199, 19);
    text-decoration: none;
    margin-left: 50px;
    font-size: 30px;
    margin-right: 50px;
}
.bk-nav {
  background-color: #b22914;
}
.logo{
  margin-bottom: 320px;
  background-color: dimgray;
  margin-right: 400px;
}


.login-register-content{
  width: 100%;
  height: 100vh;
  /* background: linear-gradient( 109deg , #ff2403, #000000); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
  margin-top: 5px;
  margin-left: 3px;
}

.card-content{
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.card-header{
  width: 100%;
  height: auto;
  padding: 15px;
  background: linear-gradient( 109deg , #ff2403, #000000);
}
.card-header h2{
  color: #fff;
  font-weight: 700;
  margin-bottom: 8px;
}
.card-header p{
  color: #fff;
}

.card-body{
  width: 100%;
  height: auto;
  background-color: #fff;
}
.card-body .form{
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-body .form input{
  padding: 15px 50px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.card-body .form i{
  width: 42px;
  height: 42px;
  background: linear-gradient( 109deg , #ff2403, #000000);
  position: relative;
  top: -60px;
  left: 5px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: -42px;
}
.card-body .form #password{
  top: -65px;
  left: 425px;
  margin-bottom: -60px;
}
.card-body .form button{
  padding: 15px;
  border-radius: 30px;
  background: linear-gradient( 109deg , #ff2403, #000000);
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
@media (max-width: 570px) {
  .form {
    padding: 0 1.5rem;
  }



  .login-register-content {
    padding: 1.5rem;
  }



}
@media (max-width: 870px) {
  .login-register-content {
    min-height: 800px;
    height: 100vh;
  }
  .card-content {
    width: 100%;
    top: 95%;

  }

  .card-content,
  .container.test .card-content {
    left: 50%;
  }
}
.btn {
  width: 180px;
  background-color: #e32727;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
    font-family: "Poppins", sans-serif;

}



    