.gradient-custom-2 {
  background: linear-gradient(109deg, #ff2403, #000000);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

.neon {
  color: #b22914;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.726), 0 0 10px #fff, 0 0 20px #fff,
    0 0 40px rgb(165, 51, 51), 0 0 80px rgb(211, 106, 106),
    0 0 90px rgb(255, 0, 0), 0 0 100px rgb(255, 251, 0),
    0 0 150px rgb(196, 199, 19);
  text-decoration: none;
  margin-left: 50px;
  font-size: 30px;
  margin-right: 50px;
}



    