<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Social Media</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<body>


<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
  integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<div class="container">
  <div class="row">
    <div class="col-lg-3 left">
      <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center">
        <img class="photo"
        src="https://images.unsplash.com/photo-1522228115018-d838bcce5c3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
        <div class="p-3 border-bottom">
          <h6 class="font-weight-bold text-dark">Notifications</h6>
          <p class="mb-0 text-muted">You’re all caught up! Check back later for new notifications</p>
        </div>
        <div class="p-3">
          <button type="button" class="btn  btn-sm pl-4 pr-4">View settings</button>
        </div>
      </div>

    </div>
    <div class="col-lg-9 right">
      <div class="box shadow-sm rounded bg-white mb-3">
        <div class="box-title border-bottom p-3">
          <h6 class="m-0">Recent</h6>
        </div>
        <div class="box-body p-0">
          <div class="p-3 d-flex align-items-center bg-light border-bottom osahan-post-header" *ngFor="let notification of notifications" (click)="getPost(notification.post_id)" >
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" 
              src="{{storageURL}}/profiles/{{notification.from_user.profilePic}}" alt="" />
            </div>
            <div class="font-weight-bold mr-3 ms-3">
              <div class="text-truncate">
                <strong>{{notification.from_user.name}}: </strong>
                <span>{{notification.type}}</span> 
                <span *ngIf="notification.type=='commented'"> on </span> Your Post
              </div>
              <div class="small">
                your post:
                {{notification.post.content}}
              </div>
            </div>
          </div>
          <!-- <div class="p-3 d-flex align-items-center osahan-post-header">
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
            </div>
            <div class="font-weight-bold mr-3">
              <div class="mb-2  ms-3">We found a job at askbootstrap Ltd that you may be interested in Vivamus imperdiet
                venenatis est...</div>
              <button type="button" class="btn ms-3">View Jobs</button>
            </div>
          </div> -->
        </div>
      </div>
      <div class="box shadow-sm rounded bg-white mb-3">
        <div class="box-title border-bottom p-3">
          <h6 class="m-0">Earlier</h6>
        </div>
        <div class="box-body p-0">
          <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
            <div
              class="dropdown-list-image mr-3 d-flex align-items-center bg-danger justify-content-center rounded-circle text-white">
              DRM</div>
            <div class="font-weight-bold mr-3">
              <div class="text-truncate ms-3">DAILY RUNDOWN: MONDAY</div>
              <div class="small ms-3">Nunc purus metus, aliquam vitae venenatis sit amet, porta non est.</div>
            </div>

          </div>
          <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
            <div class="dropdown-list-image mr-3"><img class="rounded-circle"
                src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" /></div>
            <div class="font-weight-bold mr-3">
              <div class="text-truncate ms-3">DAILY RUNDOWN: SATURDAY</div>
              <div class="small ms-3">Pellentesque semper ex diam, at tristique ipsum varius sed. Pellentesque non metus
                ullamcorper</div>
            </div>
            <span class="ml-auto mb-auto">

              <br />
            </span>
          </div>
          <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" />
            </div>
            <div class="font-weight-bold mr-3">
              <div class="mb-2 ms-3"><span class="font-weight-normal">Congratulate Gurdeep Singh Osahan
                  (iamgurdeeposahan)</span> for 5 years at Askbootsrap Pvt.</div>
              <button type="button" class="btn ms-3" >Say congrats</button>
            </div>
            <span class="ml-auto mb-auto">

              <br />
            </span>
          </div>
          <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" />
            </div>
            <div class="font-weight-bold mr-3">
              <div>
                <span class="font-weight-normal ms-3">Congratulate Mnadeep singh (iamgurdeeposahan)</span> for 4 years at
               .
                <div class="small text-success ms-3"><i class="fa fa-check-circle"></i> You sent Mandeep a message</div>
              </div>
            </div>
            <span class="ml-auto mb-auto">

              <br />
            </span>
          </div>
          <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
            <div
              class="dropdown-list-image mr-3 d-flex align-items-center bg-success justify-content-center rounded-circle text-white">
              M</div>
            <div class="font-weight-bold mr-3">
              <div class="text-truncate ms-3">DAILY RUNDOWN: MONDAY</div>
              <div class="small ms-3">Nunc purus metus, aliquam vitae venenatis sit amet, porta non est.</div>
            </div>
            <span class="ml-auto mb-auto">

              <br />
            </span>
          </div>
          <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
            <div class="dropdown-list-image mr-3"><img class="rounded-circle"
                src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" /></div>
            <div class="font-weight-bold mr-3">
              <div class="text-truncate ms-3">DAILY RUNDOWN: SATURDAY</div>
              <div class="small ms-3">Pellentesque semper ex diam, at tristique ipsum varius sed. Pellentesque non metus
                ullamcorper</div>
            </div>
            <span class="ml-auto mb-auto">

              <br />
            </span>
          </div>
          <div class="p-3 d-flex align-items-center osahan-post-header">
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" />
            </div>
            <div class="font-weight-bold mr-3">
              <div>
                <span class="font-weight-normal ms-3">Congratulate Mnadeep singh (iamgurdeeposahan)</span> for 4 years at
              .
                <div class="small text-success ms-3"><i class="fa fa-check-circle"></i> You sent Mandeep a message</div>
              </div>
            </div>
            <span class="ml-auto mb-auto">

              <br />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html> 