<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pages</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>

<body>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <div class="container bootstrap snippets ">
    <div class="col-sm-8">
      <div class="panel panel-white post panel-shadow">
        <div class="post-heading">
          <div class="pull-left image">
            <img src="https://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
          </div>
          <div class="pull-left meta">
            <div class="title h5">
              <a href="#"><b>Sherif Assem</b></a>
              Saved a post.
            </div>
            <h6 class="text-muted time">1 minute ago</h6>
          </div>
        </div>
        <div class="post-description">
          <p>shiko  is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js
            framework. Codes for developers and web designers</p>
          <div class="stats">
            <a href="#" class="btn btn-default stat-item">
              <i class="fa fa-thumbs-up icon"></i>2
            </a>
            <a href="#" class="btn btn-default stat-item">
              <i class="fa fa-share icon"></i>12
            </a>
          </div>
        </div>
        <div class="post-footer">
          <div class="input-group">
            <input class="form-control" placeholder="Add a comment" type="text">
            <span class="input-group-addon">
              <a href="#"><i class="fa fa-edit "></i></a>
            </span>
          </div>
          <ul class="comments-list">
            <li class="comment">
              <a class="pull-left" href="#">
                <img class="avatar" src="https://bootdey.com/img/Content/user_1.jpg" alt="avatar">
              </a>
              <div class="comment-body">
                <div class="comment-heading">
                  <h4 class="user">Gavino Free</h4>
                  <h5 class="time">5 minutes ago</h5>
                </div>
                <p>Sure, oooooooooooooooohhhhhhhhhhhhhhhh</p>
              </div>
              <ul class="comments-list">
                <li class="comment">
                  <a class="pull-left" href="#">
                    <img class="avatar" src="https://bootdey.com/img/Content/user_3.jpg" alt="avatar">
                  </a>
                  <div class="comment-body">
                    <div class="comment-heading">
                      <h4 class="user">Ryan Haywood</h4>
                      <h5 class="time">3 minutes ago</h5>
                    </div>
                    <p>Relax my friend</p>
                  </div>
                </li>
                <li class="comment">
                  <a class="pull-left" href="#">
                    <img class="avatar" src="https://bootdey.com/img/Content/user_2.jpg" alt="avatar">
                  </a>
                  <div class="comment-body">
                    <div class="comment-heading">
                      <h4 class="user">Gavino Free</h4>
                      <h5 class="time">3 minutes ago</h5>
                    </div>
                    <p>Ok, cool.</p>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>

</html>