body{margin-top:2px;
    background:#eee;
    }
    
    /* ===== ABOUT PAGE ===== */
    .team-item {
      padding: 35px;
      padding-right: 0;
      position: absolute;
      z-index: 0;
      margin-top: 30px;
    }
 
    .team-item:after, .team-item:before {
      content: "";
      position: absolute;
      -webkit-box-shadow: 0 5px 30px 0 rgba(39, 39, 39, 0.15);
              box-shadow: 0 5px 30px 0 rgba(39, 39, 39, 0.15);
      border-radius: 10px;
      z-index: -1;
    }
    
    .team-item:before {
      height: 100%;
      background-color: #fff;
      left: 0;
      top: 0;
      right: 30px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    
    .team-item:after {
      height: 6px;
      width: calc(100% - 30px);
      background-color: #212529;
      left: 0;
      bottom: 0;
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear;
    }
    
    .team-item:hover:after {
      height: 100%;
    }
    .zmdi{
        color: #871010;
        text-decoration: none;
    }
    
    .team-item .img-holder {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -webkit-box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.2);
              box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.2);
      border-radius: 10px;
      width: calc(100% - 70px);
      margin-left: 55px;
      overflow: hidden;
    }
    
    .team-item .img-holder img {
      border-radius: 10px;
      width: 100%;
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: all 0.6s ease;
      transition: all 0.6s ease;
    }
    
    .team-item:hover .img-holder img {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    
    .team-item .socials {
      position: absolute;
    }
    
    .team-item .socials a {
      display: block;
      margin-right: 0;
      margin-bottom: 15px;
      -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.12);
              box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.12);
    }
    
    .team-item .socials a:last-of-type {
      margin-bottom: 0;
    }
    
    .team-item .team-content {
      margin-right: 70px;
      text-align: center;
    }
    
    .team-item .team-content h5 {
      color: #101f41;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }
    
    .team-item .team-content p {
      color: #871010;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      font-weight: 600;
      font-size: 14px;
    }
    
    .team-item:hover .team-content h5, .team-item:hover .team-content p {
      color: #fff;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    
    .d-inline-block {
        display: inline-block!important;
    }
    
    .socials a {
        width: 35px;
        height: 35px;
        background-color: white;
        border-radius: 50%;
        -webkit-box-shadow: 0 3px 2px 0 #212529;
        box-shadow: 0 3px 2px 0 #212529;
        text-align: center;
        color: #fff;
        padding-top: 10px;
        font-size: 16px;
        margin-right: 10px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    
    .mb-2, .my-2 {
        margin-bottom: .5rem!important;
    }
    
    h5 {
        font-size: 21px;
    }
    
    .mb-30 {
        margin-bottom: 30px;
    }

    #live-chat {
      bottom: 0;
      font-size: 12px;
      right: 24px;
      position: fixed;
      width: 300px;
  }
   
  #live-chat header {
      background: #293239;
      border-radius: 5px 5px 0 0;
      color: #fff;
      cursor: pointer;
      padding: 16px 24px;
  }
   
  #live-chat h4:before {
      background: #1a8a34;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 8px;
      margin: 0 8px 0 0;
      width: 8px;
  }
   
  .name h4:before {
      background: #1a8a34;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 8px;
      margin: 0 8px 0 0;
      width: 8px;
  }
   
  .name h4{
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  }
  #live-chat h4 {
      font-size: 12px;
  }
   
  #live-chat h5 {
      font-size: 10px;
  }
   
  #live-chat form {
      padding: 24px;
  }
   
  #live-chat input[type="text"] {
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 8px;
      outline: none;
      width: 234px;
  }
   
  .chat-message-counter {
      background: #e62727;
      border: 1px solid #fff;
      border-radius: 50%;
      display: none;
      font-size: 12px;
      font-weight: bold;
      height: 28px;
      left: 0;
      line-height: 28px;
      margin: -15px 0 0 -15px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 28px;
  }
   
  .chat-close {
      background: #1b2126;
      border-radius: 50%;
      color: #fff;
      display: block;
      float: right;
      font-size: 10px;
      height: 16px;
      line-height: 16px;
      margin: 2px 0 0 0;
      text-align: center;
      width: 16px;
  }
   
  .chat {
      background: #fff;
  }
   
  .chat-history {
      height: 300px;
      padding: 8px 24px;
      overflow-y: scroll;
  }
   
  .chat-message {
      margin: 16px 0;
  }
   
  .chat-message img {
      border-radius: 50%;
      float: left;
  }
   
  .chat-message-content-right {
      float: right;
  }
   
  .chat-time {
      font-size: 10px;
      color: #626262;
  }
   
  .chat-feedback {
      font-style: italic; 
      margin: 0 0 0 80px;
  }
   
  /******************************chat*******************/