<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />

  <title>Document</title>
</head>
<body>
  <div class="container">
          <!-- <div class="row">
              <div class="col-12">
                  <div class="section-title title-left text-center text-lg-left">
                      <h3 class="top-sep">Welcome</h3>
                      <p> {{user.intro}}</p>
                  </div>
              </div>
          </div> -->
          <div class="row justify-content-center ">
              <div class="col-md-6 col-lg-4 mb-30">
                  <div class="team-item">
                      <div class="mb-30 position-relative d-flex align-items-center">
                              <span class="">
                                  <a   class="zmdi zmdi-facebook"></a>
                                  <a   class="zmdi zmdi-twitter"></a>
                                  <a   class="zmdi zmdi-google"></a>
                                  <a   class="zmdi zmdi-yahoo"></a>
                                  <a   class="zmdi zmdi-github"></a>
                                

                              </span>
                          <span class="img-holder d-inline-block ">
                            <img class="w-100 img" src="{{storageURL}}/profiles/{{user.profilePic}}" alt="">
                          </span>
                      </div>
                      <div class="team-content">
                          <p class="text-uppercase mb-0">{{user.name}}</p>
                      </div>
                  </div>
        
          </div>
      </div>
      </div>
  
</body>
</html>