<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Social Media</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div>
        <!----------------Porfile page----------------------->
        <div class="pofile-container">
            <img src="https://i.postimg.cc/sfQS7fj3/cover.png" class="cover-img">
            <div class="profile-details">
                <div class="pd-left">
                    <div class="pd-row" style="
                        background-size:cover;
                        background-position:center;
                        background-repeat:no-repeat;">
            <img src="{{storageURL}}/profiles/{{user.profilePic}}" class="pd-image">

            <div>
                            <h3>{{user.name}}</h3>
                            <p> Friends - 20 mutual</p>
                            <img src="https://i.postimg.cc/WbdZmNs2/member-1.png">
                            <img src="https://i.postimg.cc/9Fs7J6fy/member-2.png">
                            <img src="https://i.postimg.cc/L8fZ7xqw/member-3.png">
                            <img src="https://i.postimg.cc/xd3Njq3P/member-5.png">
                        </div>
                    </div>
                </div>
                
                <div class="pd-right">
                    <button type="button" *ngIf="!isfriend" (click)="addFriend()"> <i class="fas fa-user-plus icon"></i>ِAdd to Friends</button>
                    <!-- <button type="button" *ngIf="isfriend"><i class="fas fa-user-friends"></i>Friends</button> -->
                    <div class="dropdown" *ngIf="isfriend">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Friends
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li class="dropdown-item" style="cursor: pointer;" (click)="unfriend()">Unfriend</li>
                        </ul>
                      </div>
                    <!-- <button type="button"><img src="https://i.postimg.cc/NMG9KYNv/message.png"> Messages</button> -->
                </div>
            </div>
            <div class="profile-info">
                <div class="info-col">
                    <div class="profile-intro">
                        <h3>Intro</h3>
                        <p class="intro-text">Believe in yourself and you can
                            do unbelievable things <img src="https://i.postimg.cc/7YZVFrDc/feeling.png"></p>
                        <hr>
                        <ul>
                        
                            <li><i class="fa-solid fa-user-graduate "></i>{{user.school}}</li>
                            <li><i class="fa-solid fa-calendar-check"></i>{{user.date_of_birth}}</li>
                            <li><i class="fa-solid fa-location-pin"></i>{{user.location}}</li>
                            <li><i class="fa-solid fa-phone"></i>{{user.mobile}}
                            </li>
                        </ul>
                    </div>
                   
                    <div class="profile-intro">
                        <div class="title-box">
                            <h3>Photos</h3>
                            <a href="">Photos</a>
                        </div>
                        <div class="photo-box">
                            <div><img src="https://i.postimg.cc/pdCyb4PG/photo1.png"></div>
                            <div><img src="https://i.postimg.cc/LX0XhPYj/photo2.png"></div>
                            <div><img src="https://i.postimg.cc/kG65S5Kz/photo3.png"></div>
                            <div><img src="https://i.postimg.cc/xCd805C0/photo4.png"></div>
                            <div><img src="https://i.postimg.cc/FzMHVQxR/photo5.png"></div>
                            <div><img src="https://i.postimg.cc/QNwC3pr3/photo6.png"></div>
                        </div>
                    </div>
                    <div class="profile-intro  " >
                        <div class="title-box">
                            <h3>Friends</h3>
                            <a href="">Friends</a>
                        </div>
                        <div class="col-md-4" *ngFor="let friend of user.friend;index as i">
                            <figure (click)="goToProfile(friend.id)">
                                <p>{{i+1}}(10 Mutual)</p>
                                <img class="img-fluid" src="https://therichpost.com/wp-content/uploads/2021/03/avatar1.png" alt="">
                                <figcaption class="small">{{friend.firstname}}</figcaption>
                            </figure>
                        </div> 
                    </div>
                </div>
                <div class="write-post-container">
                
                    <div class="post-input-container">

                        <div class="test">
                            <div class="col-md-12 col-sm-12 col-xl-12 middle-wrapper">
                                <div class="row">
                                    <div>
                                        
                                        <div *ngFor='let post of user.posts ;let i = index' class="postdiv">
                                        <app-show-post [postOwner]="user.name" [postContent]="user.posts[i].content"
                                         [created_at]="user.posts[i].created_at" [comments_number]="post.comments.length==0? '' : post.comments.length"
                                         [post_id]="post.id" [post_likes_number]="post.post_likes.length"
                                         [profilePic]="user.profilePic"
                                         [hasPic]="post.hasPic"
                                         [postPic]="post.postPic"
                                         [showDeleteButton]="false"
                                         ></app-show-post>     
                                        <!-- create comment here -->
                                        <app-create-comment [post_id]="post.id"></app-create-comment>
                                        <!-- display comments here -->
                                            <a class="link-secondary text-decoration-none" data-bs-toggle="collapse" href="#allposts{{i}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                              Show comments
                                            </a>   
                                          <div class="collapse" id="allposts{{i}}">
                                            <div *ngFor='let comment of post.comments ;let j = index'>
                                                <app-show-comment [commentOwner]="comment.user.firstname" [commentContent]="comment.content" [comment_created_at]="comment.created_at"></app-show-comment>
                                                </div>
                                          </div>
                                        
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        
                        
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer">
        <p>Copyright 2022</p>
    </div>
</body>

</html>