<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
  <div class="row">
    <div class="col-lg-12 layout-spacing">
      <div class="statbox widget box box-shadow">
        <div class="widget-header">
          <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
              <h4 class=" text text-muted ">online</h4>
            </div>
          </div>
        </div>
        <div class="widget-content widget-content-area">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div id="content_1" class="tabcontent story-area">
                <div class="story-container-1">

                  <div class="single-story" (click)="clickEvent()" *ngFor="let chat of chats"
                    (click)="getChat(chat.chat_id,chat.to_user.name,chat.to_user.profilePic,chat.to_user_id)">

                    <img src="{{storageURL}}/profiles/{{chat.to_user.profilePic}}" class="single-story-bg"
                      (click)="clickEvent()">
                    <div class="story-author">
                      <img src="{{storageURL}}/profiles/{{chat.to_user.profilePic}}" (click)="clickEvent()">
                      <p>{{chat.to_user.name}}</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end live-chat -->

<div id="live-chat" class="chatbox" [ngClass]="status ? 'd-block' : 'd-none' ">

  <div>
    <header class="clearfix">
      <h1 (click)="clickEvent()" class="chat-close">x</h1>

      <h4>{{middelRequiredData.chatUserName}}</h4>

      <span class="chat-message-counter">3</span>

    </header>

    <div class="chat" >

      <div class="chat-history">

        <div class="chat-message clearfix" *ngFor="let message of messages">

          <div class="chat-message-content-right clearfix text-danger text-right 

        " *ngIf="message.to_user_id!=middelRequiredData.toUserId">
            <h6>{{message.content}} </h6>
            <span class="chat-time">{{message.created_at|date:'medium'}}</span>
          </div> <!-- end chat-message-content -->


          <div class="chat-message-content-left clearfix text-primary  "
            *ngIf="message.to_user_id==middelRequiredData.toUserId">
            <h6>{{message.content}} </h6>
            <span class="chat-time">{{message.created_at|date:'medium'}}</span>
          </div> <!-- end chat-message-content -->
        </div> <!-- end chat-message -->

        <hr>



        <fieldset>
          <div class="chat-message clearfix ">
            <div class="input-group chat-input" [formGroup]="formMessage">
              <input type="text" class="w-25" (keyup.enter)="sendMessage()" formControlName="message"
                class="form-control" placeholder="Enter your massage...">
            </div>
          </div>
        </fieldset>

      </div> <!-- end chat -->

    </div> <!-- end live-chat -->

  </div>
</div>