<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pages</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>

<body>

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="panel profile-cover ">
          <div class="profile-cover__img">
            <img class="rounded-circle"src="https://i.postimg.cc/WbdZmNs2/member-1.png">
            <h3 class="h3 text-muted">Page Name</h3>
          </div>
          <div class="profile-cover__action " data-overlay="0.3">
            <button class="btn btn-rounded button">

              <i class="fa fa-plus"></i>
              <span>Like</span>
            </button>
            <button class="btn btn-rounded button">
              <i class="fa fa-comment"></i>
              <span>Message</span>
            </button>
          </div>
          <div class="profile-cover__info">
            <ul class="nav">
              <li><strong>33</strong>Followers</li>
              <li><strong>136</strong>Following</li>
            </ul>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Activity Feed</h3>
          </div>
          <div class="panel-content panel-activity">
            <div class="row">
              <form action="#" class="panel-activity__status">
                <textarea name="user_activity" placeholder="Share what you've been up to..."
                  class="form-control"></textarea>
                <div class="actions">
                  <div class="btn-group">
                    <button type="button" class="btn-link" title="" data-toggle="tooltip"
                      data-original-title="Post an Image">
                      <i class="fa fa-image"></i>
                    </button>
                    <button type="button" class="btn-link" title="" data-toggle="tooltip"
                      data-original-title="Post an Video">
                      <i class="fa fa-video-camera"></i>
                    </button>
                    <button type="button" class="btn-link" title="" data-toggle="tooltip"
                      data-original-title="Post an Idea">
                      <i class="fa fa-lightbulb-o"></i>
                    </button>
                    <button type="button" class="btn-link" title="" data-toggle="tooltip"
                      data-original-title="Post an Question">
                      <i class="fa fa-question-circle-o"></i>
                    </button>
                  </div>
                  <button type="submit" class="btn btn-sm btn-rounded button">
                    Post
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-lg-8">
        <ul class="panel-activity__list ">
          <li>
            <i class="activity__list__icon fa fa-question-circle-o"></i>
            <div class="activity__list__header">
              <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" />
              <a href="#">John Doe</a> Posted the question: <a href="#">How can I change my annual reports for the
                better effect?</a>
            </div>
            <div class="activity__list__body entry-content">
              <p>
                <strong>Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit. Voluptatibus ab a nostrum
                repudiandae dolorem ut quaerat veniam asperiores, rerum voluptatem magni dolores corporis!
                <em>Molestiae commodi nesciunt a, repudiandae repellendus ea.</em>
              </p>
            </div>
            <div class="activity__list__footer">
              <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
              <a href="#"> <i class="fa fa-comments"></i>23</a>
              <span> <i class="fa fa-clock"></i>2 hours ago</span>
            </div>
          </li>
          <li>
            <i class="activity__list__icon fa fa-question-circle-o"></i>
            <div class="activity__list__header">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
              <a href="#">John Doe</a> Posted the question: <a href="#">How can I change my annual reports for the
                better effect?</a>
            </div>
            <div class="activity__list__body entry-content">
              <blockquote>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ab a nostrum repudiandae
                  dolorem ut quaerat veniam asperiores, rerum voluptatem magni dolores corporis! Molestiae commodi
                  nesciunt a,
                  repudiandae repellendus ea.
                </p>
              </blockquote>
            </div>
            <div class="activity__list__footer">
              <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
              <a href="#"> <i class="fa fa-comments"></i>23</a>
              <span> <i class="fa fa-clock"></i>2 hours ago</span>
            </div>
          </li>
          <li>
            <i class="activity__list__icon fa fa-image"></i>
            <div class="activity__list__header">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
              <a href="#">John Doe</a> Uploaded 4 Image: <a href="#">Office Working Time</a>
            </div>
            <div class="activity__list__body entry-content">
              <ul class="gallery">
                <li>
                  <a href="#"><img src="https://i.postimg.cc/3JHVf7vG/shortcut-1.png"></a>
                </li>
                <li>
                  <a href="#"><img src="https://i.postimg.cc/rFCbvb1P/shortcut-2.png"></a>
                </li>
                <li>
                  <a href="#"><img src="https://i.postimg.cc/0yk3xfZ2/shortcut-3.png"></a>
                </li>
                <li>
                  <a href="#"><img src="https://i.postimg.cc/Z5wQqdDP/shortcut-4.png"></a>
                </li>
              </ul>
            </div>
            <div class="activity__list__footer">
              <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
              <a href="#"> <i class="fa fa-comments"></i>23</a>
              <span> <i class="fa fa-clock"></i>2 hours ago</span>
            </div>
          </li>
          <li>
            <i class="activity__list__icon fa fa-question-circle-o"></i>
            <div class="activity__list__header">
              <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" />
              <a href="#">John Doe</a> Posted the question: <a href="#">How can I change my annual reports for the
                better effect?</a>
            </div>
            <div class="activity__list__body entry-content">
              <blockquote>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ab a nostrum repudiandae
                  dolorem ut quaerat veniam asperiores, rerum voluptatem magni dolores corporis! Molestiae commodi
                  nesciunt a,
                  repudiandae repellendus ea.
                </p>
              </blockquote>
            </div>
            <div class="activity__list__footer">
              <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
              <a href="#"> <i class="fa fa-comments"></i>23</a>
              <span> <i class="fa fa-clock"></i>2 hours ago</span>
            </div>
          </li>
          <li>
            <i class="activity__list__icon fa fa-lightbulb-o"></i>
            <div class="activity__list__header">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
              <a href="#">John Doe</a> bookmarked a page: <a href="#">Awesome Idea</a>
            </div>
            <div class="activity__list__footer">
              <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
              <a href="#"> <i class="fa fa-comments"></i>23</a>
              <span> <i class="fa fa-clock"></i>2 hours ago</span>
            </div>
          </li>
        </ul>

      </div>
      <div class="col-lg-4">
        <div class="panel panel-theme rounded shadow">
          <div class="panel-heading">
            <div class="pull-left">
              <h3 class="panel-title">Contact</h3>
            </div>
            <div class="pull-right">
              <a href="#" class="btn btn-sm btn-muted"><i class="fa fa-facebook"></i></a>
              <a href="#" class="btn btn-sm btn-muted"><i class="fa fa-twitter"></i></a>
              <a href="#" class="btn btn-sm btn-muted"><i class="fa fa-google-plus"></i></a>
            </div>
            <div class="clearfix"></div>
          </div><!-- /.panel-heading -->
          <div class="panel-body no-padding rounded">
            <ul class="list-group no-margin">
              <li class="list-group-item"><i class="fa fa-envelope mr-5"></i> support@bootdey.com</li>
              <li class="list-group-item"><i class="fa fa-globe mr-5"></i> www.bootdey.com</li>
              <li class="list-group-item"><i class="fa fa-phone mr-5"></i> +6281 903 xxx xxx</li>
            </ul>
          </div><!-- /.panel-body -->
        </div><!-- /.panel -->


        <!-- liked pages -->
        <div class="col-md-12 grid-margin">
          <div class="card rounded">
            <div class="card-body">
              <h6 class="card-title">suggestions Pages for you</h6>
              <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                <div class="d-flex align-items-center hover-pointer ">
                  <img class="rounded-circle "src="https://i.postimg.cc/WbdZmNs2/member-1.png">
                  <div class="ml-2">
                    <p>The Lady </p>
                    <p class="tx-11 text-muted">12,000 Likes</p>
                  </div>
                </div>
                <button class="btn btn-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path
                      d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                  </svg>
                </button>
              </div>
              <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                <div class="d-flex align-items-center hover-pointer">
                  <a href="#"><img class="rounded-circle" src="https://i.postimg.cc/3JHVf7vG/shortcut-1.png"></a>
                  <div class="ml-2">
                    <p>قُطُوف - Qutouf</p>
                    <p class="tx-11 text-muted">12,000 Likes</p>
                  </div>
                </div>
                <button class="btn btn-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path
                      d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                  </svg>
                </button>
              </div>
              <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                <div class="d-flex align-items-center hover-pointer">
                  <a href="#"><img  class="rounded-circle " src="https://i.postimg.cc/rFCbvb1P/shortcut-2.png"></a>
                  <div class="ml-2">
                    <p>Veranda</p>
                    <p class="tx-11 text-muted">12,000 Likes</p>
                  </div>
                </div>
                <button class="btn btn-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path
                      d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                  </svg>
                </button>
              </div>
              <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                <div class="d-flex align-items-center hover-pointer">
                  <a href="#"><img class="rounded-circle" src="https://i.postimg.cc/0yk3xfZ2/shortcut-3.png"></a>
                  <div class="ml-2">
                    <p>Wordrobe</p>
                    <p class="tx-11 text-muted">12,000 Likes</p>
                  </div>
                </div>
                <button class="btn btn-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path
                      d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                  </svg>
                </button>
              </div>
              <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                <div class="d-flex align-items-center hover-pointer">
                  <img class="rounded-circle" src="https://i.postimg.cc/L8fZ7xqw/member-3.png">
                  <div class="ml-2">
                    <p>Roadtrip</p>
                    <p class="tx-11 text-muted">12,000 Likes</p>
                  </div>
                </div>
                <button class="btn btn-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path
                      d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                  </svg>
                </button>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center hover-pointer">
                  <a href="#"><img class="rounded-circle" src="https://i.postimg.cc/Z5wQqdDP/shortcut-4.png"></a>
                  <div class="ml-2">
                    <p>Programming Facts</p>
                    <p class="tx-11 text-muted">12,000 Likes</p>
                  </div>
              </div>
                <button class="btn btn-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path
                      d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                  </svg>
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- right wrapper end -->

  </div>
</body>

</html>
