/* Profile_page */
body{
    background:#dcdcdc;
     margin-top:20px; 
   }
   .postdiv{
      background-color: #fff;
      padding: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 10px;
      border-style: solid;
      border-color: #fff;
  }
   .page-photo{
      width: 100px;
      height: 100px;
      margin-left: 20px;
      border-radius: 50%;
   }
   input[type="file"] {
      display: none;
  }
  .custom-file-upload {
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
  }
   .pageslist-names{
       text-decoration: none;
       color: black;
       margin-left: 5px;
       font-size: large;
       cursor: pointer;
   }
   .profile-cover {
       position: relative;
       z-index: 0;
   }
   .container{
    padding: 20px;
   }
   .button{
      background: #6d0606;
      color:white;
  
   }
   
   .panel {
       margin-bottom: 30px;
       color: #696969;
       background-color: #fff;
       border-radius: 5px;
       box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
   }
   
   .profile-cover__action {
       display: -ms-flexbox;
       display: -webkit-box;
       display: flex;
       padding: 120px 30px 10px 153px;
       border-radius: 5px 5px 0 0;
       -ms-flex-wrap: wrap;
       flex-wrap: wrap;
       -ms-flex-pack: start;
       -webkit-box-pack: end;
       justify-content: flex-end;
       overflow: hidden;
       background-size:cover;
   }
  

   .profile-cover__img {
       position: absolute;
        top: 120px; 
       left: 30px;
       text-align: center;
       z-index: 1; 
   }
   
   .profile-cover__img > img {
       max-width: 120px;
       border: 5px solid #fff;
       border-radius: 50%;
   }
   

   
   .profile-cover__info .nav {
       margin-right: 28px;
       padding: 15px 0 10px 170px;
       color: #999;
       font-size: 16px;
       line-height: 26px;
       font-weight: 300;
       text-align: center;
       text-transform: uppercase;
       -ms-flex-pack: end;
       -webkit-box-pack: end;
       justify-content: flex-end;
   }
   
   
   .profile-cover__info .nav strong {
       display: block;
       margin-bottom: 10px;
       color: #e16123;
       font-size: 34px;
   }
   .btn{
display: flex
flex-;}
   @media (min-width: 481px) {
       .profile-cover__action > .btn {
           min-width: 125px;
       }
   
       .profile-cover__action > .btn > span {
           display: inline-block;
       }
   }
   
   @media (max-width: 600px) {
       .profile-cover__info .nav {
           display: block;
           margin: 90px auto 0;
           padding-left: 30px;
           padding-right: 30px;
       }
   
       .profile-cover__info .nav li:not(:first-child) {
           margin-top: 8px;
           margin-left: 0;
           padding-top: 18px;
           padding-left: 0;
           border-top: 1px solid #eee;
           border-left-width: 0;
       }
   }

   
   .panel-heading {
       color: #393939;
       padding: 10px 20px;
       border-width: 0;
       border-radius: 0;
   }
   
   .panel-heading:after,
   .panel-heading:before {
       content: " ";
       display: table;
   }
   
   .panel-heading:after {
       clear: both;
   }
   
   .panel-title {
       float: left;
       margin-top: 3px;
       margin-bottom: 3px;
       font-size: 14px;
       line-height: 24px;
       font-weight: 700;
       text-transform: uppercase;
   }


   
   .panel-activity__status > .actions {
       display: -ms-flexbox;
       display: -webkit-box;
       display: flex;
       padding: 10px 20px;
       background-color: #ebebea;
       border-style: solid;
       border-width: 0 1px 1px;
       border-color: #ccc;
       border-bottom-left-radius: 4px;
       border-bottom-right-radius: 4px;
   }
   
   .btn-link {
       display: inline-block;
       color: inherit;
       font-weight: inherit;
       cursor: pointer;
       background-color: transparent;
   }
   
   button.btn-link {
       border-width: 0;
   }

   
   