<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="card card-one">
        <div class="header">
          <div class="avatar">
            <img class="photo"
              src="https://images.unsplash.com/photo-1522228115018-d838bcce5c3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
          </div>
        </div>
        <h3>Amillie Price</h3>
        <div class="desc">
          Please follow us ! 
        </div>
        <div class="contacts">
          <a href="#"><i class="fas fa-plus"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fas fa-envelope"></i></a>
          <div class="clear"></div>
        </div>
        <div class="footer">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-one">
        <div class="header">
          <div class="avatar">
            <img class="photo"
              src="https://images.unsplash.com/photo-1519085360753-af0119f7cbe7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
          </div>
        </div>
        <h3>Victoria Fox</h3>
        <div class="desc">
          Please follow us ! 
        </div>
        <div class="contacts">
          <a href="#"><i class="fas fa-plus"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fas fa-envelope"></i></a>
          <div class="clear"></div>
        </div>
        <div class="footer">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-one">
        <div class="header">
          <div class="avatar">
            <img class="photo"
              src="https://images.unsplash.com/photo-1624561172888-ac93c696e10c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
          </div>
        </div>
        <h3>Coray Shoe</h3>
        <div class="desc">
          Please follow us ! 
        </div>
        <div class="contacts">
          <a href="#"><i class="fas fa-plus"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fas fa-envelope"></i></a>
          <div class="clear"></div>
        </div>
        <div class="footer">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-one">
        <div class="header">
          <div class="avatar">
            <img class="photo"
              src="https://images.unsplash.com/photo-1525550557089-27c1bfedd06c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTJ8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
          </div>
        </div>
        <h3>Christiano Mooray</h3>
        <div class="desc">
          Please follow us ! 
        </div>
        <div class="contacts">
          <a href="#"><i class="fas fa-plus"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fas fa-envelope"></i></a>
          <div class="clear"></div>
        </div>
        <div class="footer">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <div class="card card-one">
        <div class="header">
          <div class="avatar">
            <img class="photo"
              src="https://images.unsplash.com/photo-1531727991582-cfd25ce79613?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
          </div>
        </div>
        <h3>Lynda West</h3>
        <div class="desc">
          Please follow us ! 
        </div>
        <div class="contacts">
          <a href="#"><i class="fas fa-plus"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fas fa-envelope"></i></a>
          <div class="clear"></div>
        </div>
        <div class="footer">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-one">
        <div class="header">
          <div class="avatar">
            <img class="photo"
              src="https://images.unsplash.com/photo-1528763380143-65b3ac89a3ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=689&q=80">
          </div>
        </div>
        <h3>Jayden G</h3>
        <div class="desc">
          Please follow us ! 
        </div>
        <div class="contacts">
          <a href="#"><i class="fas fa-plus"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fas fa-envelope"></i></a>
          <div class="clear"></div>
        </div>
        <div class="footer">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-one">
        <div class="header">
          <div class="avatar">
            <img class="photo"
              src="https://images.unsplash.com/photo-1543610892-0b1f7e6d8ac1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
          </div>
        </div>
        <h3>Julia Ann</h3>
        <div class="desc">
          Please follow us ! 
        </div>
        <div class="contacts">
          <a href="#"><i class="fas fa-plus"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fas fa-envelope"></i></a>
          <div class="clear"></div>
        </div>
        <div class="footer">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-one">
        <div class="header">
          <div class="avatar">
            <img class="photo"
              src="https://images.unsplash.com/photo-1536588086516-cf8b058a7aa0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
          </div>
        </div>
        <h3>Ava Ray</h3>
        <div class="desc">
          Please follow us ! 
        </div>
        <div class="contacts">
          <a href="#"><i class="fas fa-plus"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fas fa-envelope"></i></a>
          <div class="clear"></div>
        </div>
        <div class="footer">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-one">
        <div class="header">
          <div class="avatar">
            <img class="photo"
              src="https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
          </div>
        </div>
        <h3>Maria Shwenstiger</h3>
        <div class="desc">
          Please follow us ! 
        </div>
        <div class="contacts">
          <a href="#"><i class="fas fa-plus"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fas fa-envelope"></i></a>
          <div class="clear"></div>
        </div>
        <div class="footer">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-one">
        <div class="header">
          <div class="avatar">
            <img class="photo"
            src="https://images.unsplash.com/photo-1517070208541-6ddc4d3efbcb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">          </div>
        </div>
        <h3>Kate Perry</h3>
        <div class="desc">
          Please follow us ! 
        </div>
        <div class="contacts">
          <a href="#"><i class="fas fa-plus"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fas fa-envelope"></i></a>
          <div class="clear"></div>
        </div>
        <div class="footer">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-one">
        <div class="header">
          <div class="avatar">
            <img class="photo"
              src="https://images.unsplash.com/photo-1520295187453-cd239786490c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
          </div>
        </div>
        <h3>Robart Gibbs</h3>
        <div class="desc">
          Please follow us ! 
        </div>
        <div class="contacts">
          <a href="#"><i class="fas fa-plus"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fas fa-envelope"></i></a>
          <div class="clear"></div>
        </div>
        <div class="footer">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-one">
        <div class="header">
          <div class="avatar">
            <img class="photo"
              src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
          </div>
        </div>
        <h3>Anna Winslet</h3>
        <div class="desc">
          Please follow us ! 
        </div>
        <div class="contacts">
          <a href="#"><i class="fas fa-plus"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fas fa-envelope"></i></a>
          <div class="clear"></div>
        </div>
        <div class="footer">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>