<div class="card-header">
  <h5 class="mb-0 fs-5  ">Users</h5>
</div>
<div class="table-responsive">
  <table class="table table-hover table-nowrap table-dark table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">id</th>
        <th scope="col">username</th>
        <th scope="col">user-id</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          1
        </td>
        <td>
          hager
        </td>
        <td>
          hager@gmail
        </td>
        <td>
          <button class="btn  button" >Delete</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>
