<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Friends</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xl-4">
        <div class="card ">
          <div class="card-body">
            <div class="media align-items-center"><img class="photo"
                src="https://images.unsplash.com/photo-1522228115018-d838bcce5c3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
              <div class="media-body overflow-hidden">
                <h5 class="card-text mb-0 name">Alaa Abdelrazk</h5>
                <p class="card-text text-uppercase text-muted">122 Mutual</p>
                <p class="card-text">
                  Lola@gmail.com<br>
                </p>
              </div>
            </div><a href="#" class="tile-link"></a>
            <div class=" responsive">
              <button type="button" class="btn "> <a [routerLink]="['/dashboard']">
                <i class="fa-solid fa-user-large-slash"></i>  Unfriend
                </a></button>
              <button type="button" class="btn1  ">
                <a [routerLink]="['/chat']">
                  <i class="fab fa-facebook-messenger icon">  </i>  Message
                </a></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="media align-items-center"><a href="#"><img class="photo"
                  src="https://images.unsplash.com/photo-1519085360753-af0119f7cbe7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60"></a>
              <div class="media-body overflow-hidden">
                <h5 class="card-text mb-0 name">Sherif Assem</h5>
                <p class="card-text text-uppercase text-muted">20 Mutual</p>
                <p class="card-text">

                  Sherif@gmail.com<br>
                </p>
              </div>
            </div><a href="#" class="tile-link"></a>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="responsive">
                  <button type="button" class="btn "> <a [routerLink]="['/dashboard']">
                    <i class="fa-solid fa-user-large-slash"></i>   Unfriend
                    </a></button>
                  <button type="button" class="btn1  "> <a [routerLink]="['/chat']">
                    <i class="fab fa-facebook-messenger icon">  </i>   Message
                    </a></button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="media align-items-center"><a href="#"><img class="photo"
                  src="https://images.unsplash.com/photo-1624561172888-ac93c696e10c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">

              </a>
              <div class="media-body overflow-hidden">
                <h5 class="card-text mb-0 name">Mohamed Emad</h5>
                <p class="card-text text-uppercase text-muted">1 Mutual</p>
                <p class="card-text">

                  Mohamed@gmail.com<br>
                </p>
              </div>
            </div><a href="#" class="tile-link"></a>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="responsive">
                  <button type="button" class="btn "> <a [routerLink]="['/dashboard']">
                    <i class="fa-solid fa-user-large-slash"></i>    Unfriend
                    </a></button>
                  <button type="button" class="btn1  "> <a [routerLink]="['/chat']">
                    <i class="fab fa-facebook-messenger icon">  </i>    Message
                    </a></button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="media align-items-center"><img class="photo"
                src="https://images.unsplash.com/photo-1525550557089-27c1bfedd06c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTJ8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
              <div class="media-body overflow-hidden">
                <h5 class="card-text mb-0 name">Shereen Gamal</h5>
                <p class="card-text text-uppercase text-muted">20 Mutual</p>
                <p class="card-text">

                  Shereen@gmail.com<br>
                </p>
              </div>
            </div><a href="#" class="tile-link"></a>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="responsive">
                  <button type="button" class="btn "> <a [routerLink]="['/dashboard']">
                    <i class="fa-solid fa-user-large-slash"></i>     Unfriend
                    </a></button>
                  <button type="button" class="btn1  "> <a [routerLink]="['/chat']">
                    <i class="fab fa-facebook-messenger icon">  </i>    Message
                    </a></button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="media align-items-center"><img class="photo"
                src="https://images.unsplash.com/photo-1531727991582-cfd25ce79613?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
              <div class="media-body overflow-hidden">
                <h5 class="card-text mb-0 name">Mariana Shawky</h5>
                <p class="card-text text-uppercase text-muted"> 40 Mutual</p>
                <p class="card-text">

                  Mariana@gmail.com<br>
                </p>
              </div>
            </div><a href="#" class="tile-link"></a>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="responsive">
                  <button type="button" class="btn "> <a [routerLink]="['/dashboard']">
                    <i class="fa-solid fa-user-large-slash"></i>    Unfriend
                    </a></button>
                  <button type="button" class="btn1  "> <a [routerLink]="['/chat']">
                    <i class="fab fa-facebook-messenger icon">  </i>     Message
                    </a></button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="media align-items-center"><img class="photo"
                src="https://images.unsplash.com/photo-1528763380143-65b3ac89a3ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=689&q=80">
              <div class="media-body overflow-hidden">
                <h5 class="card-text mb-0 name">Fouad Sayed</h5>
                <p class="card-text text-uppercase text-muted"> No Mutual</p>
                <p class="card-text">

                  Fouad@gmail.com<br>
                </p>
              </div>
            </div><a href="#" class="tile-link"></a>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="responsive">
                  <button type="button" class="btn "> <a [routerLink]="['/dashboard']">
                    <i class="fa-solid fa-user-large-slash"></i>    Unfriend
                    </a></button>
                  <button type="button" class="btn1  "> <a [routerLink]="['/chat']">
                    <i class="fab fa-facebook-messenger icon">  </i>     Message
                    </a></button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="media align-items-center"><img class="photo"
                src="https://images.unsplash.com/photo-1543610892-0b1f7e6d8ac1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
              <div class="media-body overflow-hidden">
                <h5 class="card-text mb-0 name"> ismaiel kasas</h5>
                <p class="card-text text-uppercase text-muted">4 Mutual</p>
                <p class="card-text">

                  ismaiel@gmail.com<br>
                </p>
              </div>
            </div><a href="#" class="tile-link"></a>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="responsive">
                  <button type="button" class="btn "> <a [routerLink]="['/dashboard']">
                    <i class="fa-solid fa-user-large-slash"></i>    Unfriend
                    </a></button>
                  <button type="button" class="btn1  "> <a [routerLink]="['/chat']">
                    <i class="fab fa-facebook-messenger icon">  </i>    Message
                    </a></button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="media align-items-center"><img class="photo"
                src="https://images.unsplash.com/photo-1536588086516-cf8b058a7aa0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
              <div class="media-body overflow-hidden">
                <h5 class="card-text mb-0 name">Rowan Saad</h5>
                <p class="card-text text-uppercase text-muted">20 mutual</p>
                <p class="card-text">

                  Rowan@gmail.com<br>
                </p>
              </div>
            </div><a href="#" class="tile-link"></a>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="responsive">
                  <button type="button" class="btn "> <a [routerLink]="['/dashboard']">
                    <i class="fa-solid fa-user-large-slash"></i>    Unfriend
                    </a></button>
                  <button type="button" class="btn1  "> <a [routerLink]="['/chat']">
                    <i class="fab fa-facebook-messenger icon">  </i>     Message
                    </a></button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="media align-items-center"><img class="photo"
                src="https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
              <div class="media-body overflow-hidden">
                <h5 class="card-text mb-0 name">hagger Sayed</h5>
                <p class="card-text text-uppercase text-muted">6 Mutual</p>
                <p class="card-text">

                  Hager@gmail.com<br>
                </p>
              </div>
            </div><a href="#" class="tile-link"></a>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="responsive">
                  <button type="button" class="btn "> <a [routerLink]="['/dashboard']">
                    <i class="fa-solid fa-user-large-slash"></i>   Unfriend
                    </a></button>
                  <button type="button" class="btn1  "> <a [routerLink]="['/chat']">
                    <i class="fab fa-facebook-messenger icon">  </i>     Message
                    </a></button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="media align-items-center"><img class="photo"
                src="https://images.unsplash.com/photo-1520295187453-cd239786490c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
              <div class="media-body overflow-hidden">
                <h5 class="card-text mb-0 name">Youmna Elsherif</h5>
                <p class="card-text text-uppercase text-muted">5 Mutual</p>
                <p class="card-text">

                  Youmna@gmail.com<br>
                </p>
              </div>
            </div><a href="#" class="tile-link"></a>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="responsive">
                  <button type="button" class="btn "> <a [routerLink]="['/dashboard']">
                    <i class="fa-solid fa-user-large-slash"></i>    Unfriend
                    </a></button>
                  <button type="button" class="btn1  "> <a [routerLink]="['/chat']">
                    <i class="fab fa-facebook-messenger icon">  </i>  Message
                    </a></button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="media align-items-center"><img class="photo"
                src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
              <div class="media-body overflow-hidden">
                <h5 class="card-text mb-0 name">Rokia Ahmed</h5>
                <p class="card-text text-uppercase text-muted">22 Mutual</p>
                <p class="card-text">

                  Rokia@gmail.com<br>
                </p>
              </div>
            </div><a href="#" class="tile-link"></a>
            <div class="responsive">
              <button type="button" class="btn "> <a [routerLink]="['/dashboard']">
                <i class="fa-solid fa-user-large-slash"></i>   Unfriend
                </a></button>
              <button type="button" class="btn1  "> <a [routerLink]="['/chat']">
                <i class="fab fa-facebook-messenger icon">  </i>      Message
                </a></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="media align-items-center"><img class="photo"
                src="https://images.unsplash.com/photo-1517070208541-6ddc4d3efbcb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHVzZXIlMjBwcm9maWxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
              <div class="media-body overflow-hidden">
                <h5 class="card-text mb-0 name">Salem mohamed</h5>
                <p class="card-text text-uppercase text-muted">1 Mutual</p>
                <p class="card-text">

                  Salem@gmail.com<br>
                </p>
              </div>
            </div><a href="#" class="tile-link"></a>
            <div class="responsive">
              <button type="button" class="btn "> <a [routerLink]="['/dashboard']">
                <i class="fa-solid fa-user-large-slash"></i>   Unfriend
                </a></button>
              <button type="button" class="btn1  "> <a [routerLink]="['/chat']">
                <i class="fab fa-facebook-messenger icon">  </i>    Message
                </a></button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

</html>
