




<div class="alert alert-danger mt-3" role="alert" *ngIf="banned">
  {{banMsg}}
</div>


<div class="form-group shadow-textarea create" [formGroup]="formPost">
  <label for="exampleFormControlTextarea6"></label>
  <textarea formControlName="content" class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3"
    placeholder="Write something here..."></textarea>
  <button class="btn button text-white" (click)="post()">Post</button>
  <label for="file-uploadPost" class="custom-file-upload">
    <i class="fa-solid fa-camera"></i>
  </label>
  <input id="file-uploadPost" type="file" name="image" formControlName="image" class="form-control"
    (change)="uploadImagePost($event)">
</div>
