<!-- new nav -->
<nav *ngIf="isLogged">
  <div class="nav-left">
    <a  class=" logo"routerLink="/dashboard">
      <h2  class=" logo">FireClub</h2>
    </a>
    <ul>
      <li>
        <i class="fas fa-bell icon"></i>
      </li>
 
      <li>
        <a [routerLink]="['/chat']" >
        <i class="fab fa-facebook-messenger icon">  </i>
         </a>
       
      </li>
      <li>
        <i class="fas fa-user-plus icon"></i>
     
      </li>
    </ul>
  </div>
  <div class="nav-right">
    <div class="search-box">
      <i class="fas fa-search icon"></i>
      <input type="text" placeholder="Search" />
    </div>
  </div>
  <div class="nav-right">
    <h6 class="text-light " > Me</h6> <div class="nav-user-icon online" onclick="settingsMenuToggle()"> 
    <img src="https://i.postimg.cc/cHg22LhR/profile-pic.png" (click)="visitProfile()" />
    </div>
  <i class="far fa-sign-out icon text-white ms-4 logout" (click)="signOut()"></i>
    
  </div>
</nav>