<nav *ngIf="isLogged" class="nav" >
  <div class="nav-left">
    <a class="nav-link" routerLink="/dashboard" > 
        
      <h1 class="logo">FireClub</h1>
      
    </a>
    <ul>
      <li>
        <a routerLink="/notifications">
         <i class="fas fa-bell icon position-relative" matBadge="."
         mat-raised-button matBadgeColor="warn"
         [matBadgeHidden]="isBadgeHidden"
         (click)="toggle()"
         matBadgeSize="small"
         >         
         </i> 
         </a>
       </li>
  
       <li>
         <a [routerLink]="['/chat']" >
         <i class="fab fa-facebook-messenger icon">  </i>
          </a>
        
       </li>
       <li>
         <a href="/users" >
         <i class="fas fa-user-plus icon"></i>
       </a>
       </li>
       <li>
         <a [routerLink]="['/search']">
           <i class="fas fa-search icon"></i>
         </a>
       </li>
 
       <li *ngIf="isAdmin">
         <a [routerLink]="['/admin-panle']">
           <i class="fa-solid fa-screwdriver-wrench"></i>
         </a>
       </li>
 
    </ul>
  </div>
  <ul class="nav-right">
    <li class="username-profilepic user-inf" (click)="visitProfile()">
      {{user.firstname}}</li>
    <li class="nav-user-icon " onclick="settingsMenuToggle()">
      <img src="{{storageURL}}/profiles/{{user.profilePic}}" />
    </li>
  <li>
    <i class="fa-solid fa-arrow-right-from-bracket text-white  px-2  logout" (click)="signOut()"></i>
 
</ul>
</nav>
<div class="margin-nav"></div>
