<br>
<br>
<div class="card-header">
    <h5 class="mb-0 fs-5">Posts</h5>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-nowrap  table-dark table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Post Content</th>
          <th scope="col">Creator</th>
          <th scope="col">Actions</th>
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td >  
            {{post.id}}
          </td>
          <td (click)="goToPost(post.id)">
            {{post.content}}
          </td>
          <td (click)="goToUser(post.user.id)">
            <img class="p-1 rounded-circle image" src="{{storageURL}}/profiles/{{post.user.profilePic}}">
            {{post.user.name}}
          </td>
          <td>
            <button (click)="deletePost(post.id)" class="btn btn-outline-danger btn-dark m-1">Delete</button>
            <button *ngIf="!post.is_reported" (click)="reportUser(post.id,post.user.id)" class="btn btn-outline-warning btn-dark m-1 ">Report</button>
            <button *ngIf="post.is_reported" (click)="unreportUser(post.id,post.user.id)" class="btn btn-outline-success btn-dark m-1 ">un-Report</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>