body{
    background-color: rgba(255, 255, 255, 0.678);
    font-family: sans-serif;
    height: 1000px;
  }
  /* .search-box{
    width: 70%;
    position: relative;
    display: flex;
    justify-content:center ;
    margin: 5px auto;

  } */


  h3{
    color: #7a7d7f;
    font-size: 20px;
  }
  /* .search-input{
    width: 100%;
    padding: 10px;
    border: 1px solid #7a7d7f;
    /* border-radius:10px 0 0 10px ; */
    /* border-right: none;
    outline: none;
    font-size: 20px;
    color: #212529;
    background: none;
    
  } */ 
  /* .search-button{
   text-align: center;
  height: 58px;
  width: 40px;
  outline: none;
  cursor: pointer;
  border: 1px solid #7a7d7f;
   /* border-radius: 0 10px 10px 0 ; */
  /* border-left: none;
  background: none;
  font-size: 20px;
  border-left: 4px solid #7a7d7f;


  } */ */
  .icon{
    color:#7a7d7f;
  }

  h1{

    color: #7a7d7f;
  }

  .name{
    margin-top: 10px;
}
.photo{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    border-radius: 50%;

}
.btn{
    background: #868484;
    padding: 5px 9px;
    /*border-radius: 5px;  */
     margin-right: 5px; 
    cursor: pointer;



}
.btn a{
    text-decoration: none;
    color: white;
}

.btn1 a{
    text-decoration: none;
    color: white;

}
.card {
    background-color: #fff;
    border: 0 solid #eee;
    border-radius: 0;

}
.card {
    margin-bottom:30px;
    margin-top: 20px;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.1), -3px 0 3px rgba(0,0,0,0.05);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1), -3px 0 3px rgba(0,0,0,0.05);
}


@media (max-width:991px){
    .responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}
.responsive {
margin:5px auto;
/* position: absolute; */
right: 5px;
bottom: 3%;

}

/* Profile_page */
 .profile-cover {
     position: relative;
     z-index: 0;
 }
 .container{
  padding: 20px;
 }
 .button{
    background: #6d0606;
    color:white;

 }

 .panel {
     margin-bottom: 30px;
     color: #696969;
     background-color: #fff;
    border-radius: 5px; 
     box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
 }

 .profile-cover__action {
     display: -ms-flexbox;
     display: -webkit-box;
     display: flex;
     padding: 120px 30px 10px 153px;
     border-radius: 5px 5px 0 0;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     -ms-flex-pack: end;
     -webkit-box-pack: end;
     justify-content: flex-end;
     overflow: hidden;
     /* background: url(../../assets/images/page.jpeg) no-repeat; */
     background-size: cover;
 }

 .profile-cover__action > .btn {
     margin-left: 10px;
     margin-bottom: 10px;
 }

 .profile-cover__img {
     position: absolute;
     top: 120px;
     left: 30px;
     text-align: center;
     z-index: 1;
 }

 .profile-cover__img > img {
     max-width: 120px;
     border: 5px solid #fff;
     border-radius: 50%;
 }

 .profile-cover__img > .h3 {
     color: #393939;
     font-size: 20px;
     line-height: 30px;
 }

 .profile-cover__img > img + .h3 {
     margin-top: 6px;
 }

 .profile-cover__info .nav {
     margin-right: 28px;
     padding: 15px 0 10px 170px;
     color: #999;
     font-size: 16px;
     line-height: 26px;
     font-weight: 300;
     text-align: center;
     text-transform: uppercase;
     -ms-flex-pack: end;
     -webkit-box-pack: end;
     justify-content: flex-end;
 }

 .profile-cover__info .nav li {
     margin-top: 13px;
     margin-bottom: 13px;
 }

 .profile-cover__info .nav li:not(:first-child) {
     margin-left: 30px;
     padding-left: 30px;
     border-left: 1px solid #eee;
 }

 .profile-cover__info .nav strong {
     display: block;
     margin-bottom: 10px;
     color: #e16123;
     font-size: 34px;
 }
 .btn{
   /* margin-left: 10px; */
 }
 @media (min-width: 481px) {
     .profile-cover__action > .btn {
         min-width: 125px;
     }

     .profile-cover__action > .btn > span {
         display: inline-block;
     }
 }

 @media (max-width: 600px) {
     .profile-cover__info .nav {
         display: block;
         margin: 90px auto 0;
         padding-left: 30px;
         padding-right: 30px;
     }

     .profile-cover__info .nav li:not(:first-child) {
         margin-top: 8px;
         margin-left: 0;
         padding-top: 18px;
         padding-left: 0;
         border-top: 1px solid #eee;
         border-left-width: 0;
     }
 }
 /*  */
 .main {
    width: 50%;
    margin: 50px auto;
}
 .has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
/*  
*/

    
  
    .input-inset{
    font-size: 16px;
    line-height: 1.5;
    background: #FFFFFF;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19'><path fill='%23838D99' d='M13.98 12.57a2 2 0 0 1 1.93.52l2.5 2.5a2 2 0 0 1-2.82 2.82l-2.5-2.5a2 2 0 0 1-.52-1.93l-1.38-1.37a7 7 0 1 1 1.42-1.42l1.37 1.38zm-3.37-2.03a5 5 0 1 0-7.08-7.08 5 5 0 0 0 7.08 7.08z'></path></svg>");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 20px 20px;
    border: 1px solid #C5CBD5;
    box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.20);
    border-radius: 8px;
    width: 300px;
    padding: .5em 1em .5em 2.5em;
    } 
    
    .input-inset::placeholder{
      color: #838D99;
    }
    
    .input-inset:focus {
      outline: none;
      border: 1px solid #61646b;
      box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
    }

    .btn1{
       background-color:  #6d0606;
       padding: 2px;
    }