@import url("https://fonts.googleapis.com/css?family=Modak");


.side{
    background-color: #212529;
}
.nav-link{
    color: rgb(255, 249, 249);
}

.admin{
    max-width: 650px;
    max-height: 600px;
}
@media (max-width:425px) {
  .admin{
      max-width: 320px;
    max-height: 300px;
}  
    
}

